# Ambientes virtuais
venv/
.venv/
env/

# Caches e compilações do Python
**/__pycache__/
*.pyc
.ipynb_checkpoints/

# Chaves, credenciais e configurações locais (Segurança)
.env
key.py
.streamlit/config.toml
.streamlit/secrets.toml

# Logs do sistema
logs/
*.log

# Scripts de testes e rascunhos locais
testar_rag.py
teste_de_ferramenta.py
main.py

# Banco vetorial e arquivos de memória gerados em execução
# (Opcional: o professor vai recriar o banco rodando o indexar.py)
data/chroma_db/
