# Ambientes virtuais
venv/
.venv/
env/

# Caches do Python
**/__pycache__/
*.pyc

# Chaves e credenciais locais (Segurança)
.env
key.py 

# Opcional: Banco vetorial (Se preferir recriar rodando o script no note)
# data/chroma_db/